# --- App ---
MRS_APP_NAME="Multimodal Retrieval System"
MRS_ENV=local
MRS_DEBUG=true

# --- API ---
MRS_API_PREFIX=/api
MRS_HOST=0.0.0.0
MRS_PORT=8000

# --- Postgres ---
MRS_POSTGRES_URI=postgresql://appuser:apppassword@postgres:5432/materials_db
MRS_POSTGRES_DB=materials_db
MRS_POSTGRES_USER=appuser
MRS_POSTGRES_PASSWORD=apppassword

# --- Logging ---
MRS_LOG_FORMAT=json
MRS_LOG_LEVEL=INFO
MRS_LOG_FILE_ENABLED=true
MRS_LOG_FILE=logs/app.log

# --- API ---
MRS_EUROPEPMC_API_URL="https://www.ebi.ac.uk/europepmc/webservices/rest/search"
MRS_MP_API_URL="https://api.materialsproject.org/materials/summary"
MRS_MATERIALS_PROJECT_API_KEY=""