# --- App ---
MRS_APP_NAME="Multimodal Retrieval System"
MRS_ENV=local
MRS_DEBUG=true

# --- API ---
MRS_API_PREFIX=/api
MRS_HOST=0.0.0.0
MRS_PORT=8000

# --- Mongo ---
MRS_MONGO_URI=mongodb://mongo:27017
MRS_MONGO_DB=materials_db

# --- Logging ---
MRS_LOG_FORMAT=json
MRS_LOG_LEVEL=INFO
MRS_LOG_FILE_ENABLED=true
MRS_LOG_FILE=logs/app.log